body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  orphans: 3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-primary {
  color: #715500 !important;
}

.light-font {
  font-weight: 300;
}

.bold-font {
  font-weight: 700;
}

.black-font {
  font-weight: 900;
}

.cover-img {
  background-image: url("./img/amanda-couch.jpg");
  background-size: 100%;
  background-attachment: scroll;
  padding: 25%;
  padding-top: 29%;
  background-repeat: no-repeat;
}

.cover-container {
  position: relative;
}

.cover-overlay {
  z-index: 3;
  position: absolute;
  color: #fff;
  bottom: 16%;
  width: 100%;
}

.credit-container {
  border-top: 2px solid #715500;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 4.5rem;
}

.title-blurb {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.article-body {
  line-height: 1.8em;
  margin: 1.4em 0;
  font-size: 1rem;
}

.dropcap::first-letter {
  font-size: 600%;
  float: left;
  margin-top: .3em;
  margin-bottom: .1em;
  padding-right: 5px;
  color: #715500;
}

.pullquote {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2em;
  padding: 25px 0 20px;
  border-top: 10px solid #715500;
  border-bottom: 1px solid #715500;
  color: #715500;
  margin: 40px 0;
  hanging-punctuation: first;
}

.caption {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

.supplement-text {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

.callout-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

@media (max-width: 992px) {
  .callout {
    margin-left: 0;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

.divider {
  border-bottom: 2px solid #715500;
}

aside {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  overflow: hidden;
  width: 242px;
  float: left;
  clear: left;
  background: #fff;
  margin: 35px 35px 35px -85px;
  text-align: right;
}

@media (max-width: 576px) {
  aside {
    box-sizing: border-box;
    margin: 1rem auto;
    display: block;
    float: none;
    width: 100%;
    text-align: left;
  }

  .cover-overlay {
    position: relative;
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
  }

  .title {
    color: #212529;
    text-align: left;
    font-weight: 500;
    padding: 1.6rem 0 .7rem 0;
    font-size: 2rem;
  }

  .title-blurb {
    padding: 0;
    text-align: left;
    color: #212529;
    font-size: 1rem;
  }
}